<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="/add.css">
</head>
<body>
    <h1>Create Your Account</h1>
    <form action="/users/newuser" method="POST">
        <input name="email" type="email" placeholder="enter email" />
        <br>
        <input name="username" type="text" placeholder="enter usernmae" />
        <br>
        <input name="password" type="password" placeholder="enter password" />
        <br>
        <button>Submit</button>
      </form>
    
</body>
</html>