<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Username </title>
<link rel="stylesheet" href="/edit.css">
</head>
<body>
    <h1> Edit Your Username</h1>
<form method="POST" action="/users/<%=user.userId%>/?_method=PATCH">
    <h2>Email of user is : <%=user.email%></h2>
<input type="password" name="password" placeholder="Enter current password">
<br><br>
<input type="text" name="username" placeholder="Enter new Username">
<button>Edit</button>
</form>
</body>
</html>