<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/show.css">
</head>
<body>
    <h1>Total No.of users in our Site is : <%=count%></h1>
    <a href="http://localhost:8080/users">See All users</a>
</body>
</html>