<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="/thanks.css">
</head>
<body>
    <h1>Your account Has been deleted Successfully</h1>
    <h2>Account Details :</h2>

    <h3>username :<%=user.username%></h3> 
    <h3>userId : <%=user.userId%></h3>
    <h3>Email id :<%=user.email%></h3>

    <h2>See You again with us (: </h2>
    <a href="http://localhost:8080">Go to Home Page</a>
</body>
</html>